@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,800;1,800&display=swap');

* {
  box-sizing: border-box;

  margin: 0;
  border: 0;
}

body {
  background-color: rgb(28, 26, 26);
}

.head {
  background-color: #fff;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
}

.btn-sus {
  text-align: center;
}

.btn-goto {
  background-color: transparent;
  font-family: "Poppins";
  font-size: large;
  border-radius: 8px;
  border: 2px solid #FF00b1;
  padding: 5px;
  transition-duration: 0.4s;
}

.btn-goto:hover {
  background-color: #FF00b1;
  color: #fff;
}

a {
  text-decoration: none;
  color: #FF00b1;
  transition-duration: 0.4s;
}

a:hover {
  color: #fff;
}

.glitch-head {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}


.aiprovider {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-top: 20px;
}
 