@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300,400;500,600&display=swap');

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  box-sizing: border-box;
  background-color: #020202;
  color: #ffffff;
}

p {
  margin: auto;
  height: 65px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}

button {
  border: 0px;
  padding: 0px;
  font-family: inherit;
  background: transparent;
  color: inherit;
  cursor: pointer;
}

.navbar {
  border-end-start-radius: 20px;
  border-end-end-radius: 20px;
  position: fixed;
  z-index: 1px;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 64px;
  background: #fff;
  color: #000;
  font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
}

.navbar-overlay {
  position: fixed;
  z-index: 2px;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0px;
  transition: 0.5s;
}

/* Abre o overlay e coloca para visivel */
body.open .navbar-overlay {
  visibility: visible;
  opacity: 1;
}

.navbar-burger {
  position: absolute;
  top: 0px;
  left: 0px;
  display: grid;
  place-items: center;
  width: 64px;
  height: 64px;
  padding: 0;
}

.navbar-title {
  margin: 0px;
  font-size: 16px;
  visibility: hidden;
  text-align: center;
}

.navbar-title-logo {
  width: 30%;
  height: 30%;
  visibility: visible;
}

.navbar-menu {
  position: fixed;
  z-index: 3px;
  top: 0px;
  left: 0px;
  translate: -100% 0;
  width: 270px;
  height: 100%;
  padding: 20px;
  display: flex;
  gap: 8px;
  flex-direction: column;
  align-items: flex-start;
  background: #fff;
  visibility: hidden;
  translate: all 0.3s;
}

a {
  color: #000;
  font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
}

body.open .navbar-menu {
  translate: 0 0;
  visibility: visible;
}

.navbar-menu > button {
  color: rgba(255,255,255, 0.25);
  background: transparent;
  padding: 0 8px;
  transition: all 0.3s;
}

.navbar-menu > button.active {
  color: inherit;
} 

.navbar-menu > button.active:hover {
  color: rgba(255, 255, 255, 0.75);
}

.goto {
  font-family: Montserrat,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;

}

#boldpink {
  color: #ff00b1;
}

@media only screen and (min-width: 700px) {
  p {
    margin: auto;
    height: 65px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
  }

  .navbar {
    justify-content: space-between;
    padding: 0 0 0 16px;
  }

  .navbar-overlay {
    display: none;
  }

  .navbar-burger {
    display: none;
  }

  .navbar-menu {
    position: static;
    translate: 0 0;
    width: auto;
    background: transparent;
    flex-direction: row;
    visibility: visible;
  }

  .navbar-title-logo {
    min-width: 150px;
    visibility: visible;
    width: 20%;
    height: 20%;
  }

  .navbar-title {
    margin: 0px;
    font-size: 16px;
    visibility: hidden;
    text-align: left;
  }
}
